@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);

ul {
  padding: 0;
}
li {
  list-style-type: none;
}
.nav-title {
  font-family: "Pokemon";
  font-size: 1.3rem;
  color: #142F77;
}
nav ul li button {
  display: flex;
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 20px;
  border: none;
  background-color: white;
  background-image: url(./img/pokeball_2.png);
  background-size: cover;
  font-weight: bold;
}
nav ul li button:hover {
  background-image: url(./img/pokeball_3.png);
}
.generation-details > li {
  margin: 10px 0;
}
.pokemon-species li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 10px;
}
.pokemon-types li, .version-groups li {
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
  padding: 0 10px;
}